.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 20px 10px 30px;
    padding: 10px;
    border-radius: 2px;
    background-color: #4d3d943f;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: 0.6s;
    &:hover {
      box-shadow: 0px 0px 10px rgba(48, 43, 43, 0.5);
    }

    .card-image{
       width: 150px;
       height: 150px;
      
       border-radius: 16px;
        transition: ease-in-out 0.6s;
       &:hover {
        transform: scaleX(1.1) scaleY(1.1);
      }
    }

    .card-title{
        font-size: 20px;
        font-weight: 500;
        color: rgb(182, 182, 182);
        margin-bottom: 10px;
    }

    .card-date{
        font-style: italic;
        font-size: 14px;
        font-weight: 500;
        color: rgb(182, 182, 182);
        margin-bottom: 10px;
    }
  
}